.detailsContainer{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    color:white
}

.col{
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%
}

.movieImage{
    border-radius: 15px;
}

.movieDetails{
    font-size: 1.5rem;
    font-family: 'Shippori Antique B1', sans-serif;
}

.firstItem{
    margin-top: 0;
}

@media screen and (max-width: 560px){
    .movieImage{
       width:300px;
    }
}